<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.esm.modules.business.dao.SensorAlarmMapper">
	
	<select id="listForPage" resultType="net.esm.modules.business.entity.SensorAlarmEntity">
		SELECT
			`id`, 
			`terminal_number`, 
			`sensor_number`, 
			`low_value`, 
			`high_value`
		FROM
			sensor_alarm
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO sensor_alarm (
			`terminal_number`, 
			`sensor_number`, 
			`low_value`, 
			`high_value`
		)
		VALUES (
			#{terminalNumber}, 
			#{sensorNumber}, 
			#{lowValue}, 
			#{highValue}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.esm.modules.business.entity.SensorAlarmEntity">
		SELECT
			`id`, 
			`terminal_number`, 
			`sensor_number`, 
			`low_value`, 
			`high_value`
		FROM
			sensor_alarm
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE sensor_alarm
	 	<set>
			<if test="terminalNumber != null">`terminal_number` = #{terminalNumber}, </if>
			<if test="sensorNumber != null">`sensor_number` = #{sensorNumber}, </if>
			<if test="lowValue != null">`low_value` = #{lowValue}, </if>
			<if test="highValue != null">`high_value` = #{highValue}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sensor_alarm
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>